.chat{
    display:flex;
    flex-direction:column;
    flex:0.70;
}
.chat_header{
    display:flex;
    align-items: center;
    padding: 7px;
    border-bottom: 1px solid lightgray;
}
.chat_header > .MuiAvatar-root{
    margin-left: 7px;
}
.chat_headerinfo{
    flex:1;
    padding-left: 20px;
}
.chat_headerinfo > h3{
    font-size: 16px;
    margin-bottom: 1px;
    font-weight: 500;
}
.chat_headerinfo > p{
    font-size: 13px;
    color: gray;
}
.chat_body{
    flex:1;
    background-image: url("https://web.whatsapp.com/img/bg-chat-tile-light_686b98c9fdffef3f63127759e2057750.png");
    background-repeat: repeat;
    background-blend-mode: soft-light;
    background-color:#e4e3e1d4 ;
    background-position: center;
    padding: 20px;
    overflow-y: scroll;
}
.chat_message{
    position : relative;
    font-size: 16px;
    padding:10px;
    width:fit-content;
    border-radius: 10px;
    border: 0.5px solid lightgray;
    background-color: white;
    margin-bottom: 30px;
}
.chat_reciever{
    margin-left: auto;
    background-color: #dcf8c6;
}
.chat_timestamp{
    margin-left: 10px;
    font-size: xx-small;
}
.chat_name{
    position:absolute;
    top: -15px;
    font-weight: 800;
    font-size:xx-small;
}
.chat_footer{
    display:flex;
    justify-content: space-between;
    align-items:center;
    height:62px;
    border-top: 1px solid lightgray;
}
.chat_footer >form{
    flex:1;
    display:flex;
}
.chat_footer >form > input{
    flex:1;
    border-radius:30px;
    padding:10px;
    border:none;
    outline-width: 0;
}
.chat_footer > form > button {
    display : none;
}
.chat_footer > .MuiSvgIcon-root{
    color:gray;
    padding:10px;
}